#general_container{
	margin: 10px;
}

.div_border{
	margin: 5px;
	border-style: solid;
	border-radius: 5px;
	border-color: #abb8b6; 
}

#txt_graph_json{
	resize: none;
	height: 190px;
}

.div_of_table{
  	overflow: scroll;
  	margin: 10px;
  	width: 400px;
  	height: 400px;
  	border-color: #abb8b6;
  	border-style: solid;
  	border-radius: 5px;
  	border-width: 1px;
}

.adjacency_false{
	background-color: #e3b6b6;
}

/*#div_form{
	margin: 5px;
	border-style: solid;
	border-radius: 5px;
}*/